@import url('reset.css');

.container {
    margin: 0 auto;
    max-width: 500px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    font-size: 36px;

    height: 100px;
    border: 1px solid black;
    background-color: #fcfcfc;
    border: 1px solid gainsboro;
    border-radius: 5px;
    margin: 4px;
}

.keys__inputs {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-around;
}

button {
    width: 96px;
    height: 72px;

    background-color: whitesmoke;
    border-radius: 5px;
    border: 1px solid gainsboro;
    margin: 4px;
    font-size: 16px;
}

button:hover {
    cursor: pointer;
    background-color: #e2dede;
}

.selected-operator {
    background-color: #b44747;;
    color: white;
}
