@import url('reset.css');

.container {
    margin: 0 auto;
    max-width: 500px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    font-size: 36px;

    height: 100px;
    background-color: #fcfcfc;
    border: 1px solid #333;
    border-radius: 28px;
    margin: 4px;
}

.calculator {
    padding: 16px;
    background-color: #efefef;
    border: 1px solid #d2d2d2;
    border-radius: 28px;
}

.keys {
    margin-top: 20px;
}

.keys__inputs {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-around;
}

button {
    width: 96px;
    height: 72px;

    background-color: whitesmoke;
    border-radius: 28px;
    border: 1px solid #333;
    margin: 4px;
    font-size: 16px;
}

button:hover {
    cursor: pointer;
}

.keys__digit:hover {
    background-color: #e2e2e2;
}

.keys__operator:hover {
    background-color: #446cce;
}

.keys__operator {
    background-color: #5e84ec;
    color: white;
}

.selected-operator {
    background-color: #314a80;
}
